
.card {
    padding: 0.8rem;
    margin: 0.4rem;
    border: 1px solid #f0f0e0;
    background-color: #fcfcfc;
}

.config-editor {

    display: flex;
    flex-wrap: none;
    justify-content: space-evenly;
    margin: 1rem;
//    width: 90%;

    .selected {
        font-weight: bold;
        color: #800000;
    }

    .selection-box {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 1rem;
	column-gap: 1rem;
	width: 42rem;

        .selection-field {
            padding: 0.3rem;
            display: grid;
            border: 1px solid black;
	    row-gap: 0.1rem;
	    column-gap: 0.0rem;
	    width: 19rem;
	    border-radius: 8px;

	    &.unavailable {
		color: #e0a0a0;
		text-decoration: line-through;
	    }

            & > div {
                padding: 0.2rem;
                margin: 0.2rem;
            }

            & > :nth-child(1) {
//                width: 20rem;
            }

            & > div:nth-child(2) {
//                width: 12rem;
            }

            & > div:nth-child(3) {

//                width: 12rem;

                & > span.dep {

                    color: white;
                    font-size: small;
                    white-space: nowrap;
                    display: block-inline;
                    background-color: #202010;
                    padding: 0.4rem;
                    margin: 0.2rem;
                    border-radius: 8px;

                }
            }


        }

    }

    .item-editor {

        width: 45rem;

        textarea {
            width: 45rem;
            height: 15rem;
        } 

    }

}

