
.card {
    padding: 0.8rem;
    margin: 0.4rem;
    border: 1px solid #f0f0e0;
    background-color: #fcfcfc;
}

.config-editor {

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 1rem;

    .selected {
        font-weight: bold;
        color: #800000;
    }

    .selection-box {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 1rem;
	column-gap: 1rem;
	width: 42rem;

        &.configuration {

	    flex-wrap: nowrap;
	    flex-direction: column;
            display: flex;

            .selection-field {

                display: flex;
                flex-wrap: no-wrap;
                align-items: center;
                width: 35rem;

                & > :nth-child(1) {
                    flex-grow: 1;
                }

                div {
                    display: flex;
                    flex-wrap: no-wrap;
                }

            }

        }

        .selection-field {

            display: grid;
            border: 1px solid black;
	    row-gap: 0.1rem;
	    column-gap: 0.0rem;
	    width: 19rem;
	    border-radius: 8px;

            & > div {
                padding: 0.2rem;
                margin: 0.2rem;
            }

	    &.unavailable > div {
		color: #b0a0a0;
		text-decoration: line-through;
	    }

            & > :nth-child(1) {
            }

            & > div:nth-child(2) {
            }

            & > div:nth-child(3) {

                & > span.dep {
                    color: white;
                    font-size: x-small;
                    white-space: nowrap;
                    display: block-inline;
                    background-color: #202010;
                    padding: 0.2rem;
                    margin: 0.2rem;
                    border-radius: 8px;
                }
            }


        }

    }

    .item-editor {

        width: 45rem;

        textarea {
            width: 45rem;
            height: 15rem;
        } 

    }

}

