
.card {
    padding: 0.8rem;
    margin: 0.4rem;
    border: 1px solid #f0f0e0;
    background-color: #fcfcfc;
}

.config-editor {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: auto;
    width: 90%;

    .plan {

        display: flex;
	flex-wrap: nowrap;
	row-gap: 0.2rem;
        width: 100%;

        .plan-items {

            display: flex;
	    flex-wrap: nowrap;
	    flex-direction: column;
	    row-gap: 0.2rem;
            width: 40%;

            .plan-item {

                display: flex;
                flex-wrap: no-wrap;
                align-items: center;
                width: 98%;
	        column-gap: 1rem;
                border: 1px solid black;
	        border-radius: 8px;
                padding: 0.8rem;

                & > :nth-child(1) {
                    flex-grow: 1;
                }

                div {
                    display: flex;
                    flex-wrap: no-wrap;
                }
                
            }
        }
        
        .item-editor {

            width: 60%;

            textarea {
                width: 98%;
                height: 15rem;
            } 

        }

    }

    .catalog {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 0.5rem;
	column-gap: 0.5rem;


        .catalog-item {

            display: grid;
            border: 1px solid black;
	    width: 23rem;
	    border-radius: 8px;
            padding: 0.8rem;
            grid-column-gap: 0.5rem;
            grid-row-gap: 0.5rem;
            align-items: start;
            justify-items: start;

	    &.unavailable {

                border: 1px solid #a0a0a0;

                > div {
		    color: #808080;
                }

	    }

            .title {
                font-weight: bold;
            }

            .description {
                font-size: small;
                font-weight: 400;
            }

            .additional {

                & > span.dep {
                    color: white;
                    font-size: small;
                    font-weight: bold;
                    white-space: nowrap;
                    display: block-inline;
                    background-color: #808080;
                    padding: 0.4rem;
                    margin: 0.2rem;
                    border-radius: 8px;

                }
            }
        }

    }

}

